.main {
    position: relative;
    margin-top: 115px;
}

#main-div {
    display: flex;
    justify-content: center;
}

#main-img {
    height: 100%;
}

#contact-div {
    padding-left: 30px;

}

h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 25px;
}

#form-div {
    display: flex;
    justify-content: space-between;
    border: solid 5px #fff0dc;
    padding: 25px 50px;

}

#input-div {
    margin-right: 200px;
}

h2 {
    font-size: 25px;
    margin: 0;
}

/*label {
    padding-top: 50px;
    font-size: 45px;
}*/
input {
    margin: 25px 0px
}

input[type="text"] {

    font-size: 15px;
    border: 2px solid white;
    border-bottom: 3px solid black;
    padding-bottom: 5px;

}


button {
    margin: 25px 0px;
    border-radius: 25px;
    padding: 5px;

    background-color: #FFF0DC;
    border: none;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

button:hover {
    background-color: black;
    color: #FFF0DC
}

button:active {
    background-color: gray;
}

#info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#information-div {
    margin-top: 0px;
    ;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
    margin-bottom: 95px;
}

#icon-div {
    margin-bottom: 50px;
}

#icon-div img {
    padding: 0 10px;
}

#twitter {
    margin-left: -40px;
}

@media only screen and (max-width: 600px) {
    #main-div {
        display: block;
    }

    h1 {
        text-align: center;
        background-color: #FFF0DC;
    }

    #main-img {
        display: none;
    }

    #contact-div {
        padding: 0;
    }

    #form-div {
        flex-direction: column;
        border: none;
        padding: 0 25px;
        padding-top: 30px;
    }

    #input-div {
        margin: 0;
        align-items: center;
    }

    #input-div h2 {
        text-align: center;
    }

    #input-div input {
        width: 100%
    }

    #information-div {
        display: flex;
        justify-content: space-between;
    }

    #icon-div {
        display: flex;
        justify-content: space-evenly;
    }

    #twitter {
        margin-left: 0px;
    }

    p {
        margin-bottom: 45px;

    }
}