.main {
    position: relative;
    margin-top: 145px;
}


.h3_class {
    background-color: #FFF0DC;  
    margin: 0;
    padding: 30px 0 30px 30px;
    font-size: 20px;
}

.p_class {
    margin: 0;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    
}

.event_class {
    margin: 50px 100px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rosybrown;
}

a.active {
    color: rosybrown;

}


.info {
    display: flex;
    flex-direction: row;
    background-color: #FFFAF2;  
    max-height: 200px;
    overflow: hidden;
}

img {
    float: left;
    max-width: 300px;
    max-height: 200px;
}


#page-nb {
    display: flex;
    justify-content: center;
}

#page-nb p:hover {
    cursor: pointer;
}

