.main {
    position: relative;
    margin-top: 145px;
}


.h3_class {
    background-color: #FFF0DC;
    margin: 0;
    padding: 30px 0 30px 30px;
    font-size: 20px;
}

.p_class {

    margin: 0;
    padding: 10px 0 10px 10px;
}

.event_class {
    margin: 50px 100px;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: row;
    background-color: #FFFAF2;
    max-height: 200px;
    overflow: hidden;
}

img {
    float: left;
    max-width: 300px;
    max-height: 200px;
}


#page-nb {
    display: flex;
    justify-content: center;
}