.nav-header {
    background-color: #FFF0DC;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 1px #e7d5bc;
}

.logo {
    margin-top: 25px;
    margin-left: 70px;
}

.img-logo {
    width: 350px;
    height: 140px;
}

.list-btn-header {
    margin: 40px 0px 0px 100px;

}

.btn-header,
.btn-header:hover {
    margin: 0px 10px 0px 20px;
    color: black;
    text-decoration: none;
    padding: 40px 30px;
}

.btn-header:hover {
    background-color: #ffcc88;
    color: white;
}

