.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    position: relative;
    margin-top: 105px;
}

.card img{
    width: 400px;
    height:300px;
    object-fit: cover;
    cursor:pointer;
    transition: 0.2s ease;
}
.card img:hover{
    transform: scale(1.04);
}
.card h1{
    margin: 1;
    padding: 10px 0px;
    font-size: 20px ;
    text-align: center;
    background-color:#FFF0DC;
    color: black;
    margin-top: 30px;
    width: 400px;
    
}

#text_section_service {
    margin-top: 30px;
    margin-left: 220px;
    margin-right: 220px;
    text-align: justify;
}

#text_section_service img {
    width: 350px;
    height: 200px;

} 

.img-div{
    text-align: center;
}

#text_section_service h1 {
    background-color: #FFF0DC;
    padding: 30px 0 30px 30px;
    font-size: 25px;
   
}

#text_section_service > div {
    background-color: #FFFAF2; 
    margin: 50px 0px;

}

#text_section_service p {
    padding: 10px 0 10px 30px;
    line-height: 30px;
}
#text_section_service table {
    padding: 10px 0 10px 0px;
}

#text_section_service td, #text_section_service th {
    width: 150px;
    text-align: center;
}

#text_section_service > h1   {
    text-align: center;
    font-size: 80px;
    margin-top: 80px;
    background-color: white;
}

span {
    font-weight: bold;
}



@media only screen and (max-width: 400px) {
   

    

    #text_section_service {
        margin-top: 50px;
        margin-left: 30px;
        margin-Right: 30px;
        text-align: justify;
    }


  }





